MONGODB_URI=mongodb://localhost:27017/egypt-store
JWT_SECRET=your_secret_key_here
ADMIN_EMAIL=ramsiskok01@gmail.com
ADMIN_PHONE=01050848303
PAYMENT_COMMISSION=0.10
STRIPE_SECRET_KEY=your_stripe_key
NODE_ENV=development
PORT=5000